
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CAJERO AUTOMATICO</h1>
<style>
    h1 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 45px;
        color: darkslategrey;
    }
</style>


<table class="table table-dark table-hover">

    <Label for="monto">Ingrese Monto a Retirar</Label>
    <br />
    <input type="number" name="monto" " required  />
    <br />

    <br />
    <input type="submit">
    <br />

</table>
